<div class="card card--contact-form">
    <header class="card-header">
        <p class="card-header-title">
            Checkout
        </p>
        <span class="card-header-icon has-text-grey-light">
            <span class="icon">
                <i class="fas fa-envelope-open" aria-hidden="true"></i>
            </span>
        </span>
    </header>
    <div class="card-content">
        <div class="content">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" [ngClass]="{'is-danger': !name.valid && name.touched}" type="text" placeholder="John Doe" ngModel name="username" required #name="ngModel" />
                    </div>
                    <p *ngIf="!name.valid && name.touched" class="help is-danger">Required field</p>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" [ngClass]="{'is-danger': !email.valid && email.touched}" type="email" placeholder="email@email.com" ngModel name="email" required email #email="ngModel" />
                    </div>
                    <p *ngIf="!email.valid && email.touched" class="help is-danger">Please enter a valid email</p>
                </div>

                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control">
                        <input class="input" [ngClass]="{'is-danger': !phone.valid && phone.touched}" type="number" placeholder="email@email.com" ngModel name="phone" required #phone="ngModel" />
                    </div>
                    <p *ngIf="!phone.valid && phone.touched" class="help is-danger">Please enter your phone number</p>
                </div>


                <div class="field">
                    <label class="label">address</label>
                    <div class="control">
                        <textarea class="textarea" [ngClass]="{'is-danger': !address.valid && message.touched}" placeholder="Your message here" ngModel name="address" required #address="ngModel"></textarea>
                    </div>
                    <p *ngIf="!address.valid && address.touched" class="help is-danger">Enter Your Address</p>
                </div>

                <div class="field">
                    <label class="label">Payment Type</label>
                    <div class="control">
                        <select name="paymentType" #paymentType ngModel #address="ngModel">
                            <option value="cash">COD</option>
                            <option value="card">Pay Pal</option>
                        </select>
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <button class="button is-dark is-fullwidth" type="submit" [disabled]="!f.valid">Send
                            Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>