<ul>
    <li><a (click)="app('msg')">View Messages</a></li>
    <li><a (click)="app('order')">View Orders</a></li>
    <li><a (click)="app('products')">View Products</a></li>
    <hr>
    <div class="add">
        <form>
            <p> <strong>Name:</strong> <input type="text"></p>
            <p> <strong>Email:</strong> <input type="text"></p>
            <p> <strong>imagepath: </strong> <input type="text"></p>
            <p> <strong>Type: </strong> <input type="text"></p>
            <p> <strong>Price: </strong> <input type="text"></p>
            <p> <strong>Qty: </strong> <input type="text"></p>
            <p> <strong>Description: </strong> <textarea></textarea> </p>
            <button type="submit">Add</button>
        </form>
    </div>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">

    <div *ngIf="sect == 'msg'">
        <app-msg></app-msg>
    </div>

    <div *ngIf="sect == 'order'">
        <app-orders></app-orders>
    </div>

    <div *ngIf="sect == 'products'">
        <app-prods></app-prods>
    </div>


</div>