.about {
    display: flex;
    flex-wrap: wrap;
}

.text {
    text-align: center;
    width: 40%;
    margin: auto;
}

h3 {
    color: #fdd807;
    font-size: 20px;
}

.image {
    width: 60%;
}

@media (max-width: 769px) {
    .about {
        display: inline-block;
    }
    .text,
    .image {
        width: 100%;
    }
    .text {
        padding: 1em;
    }
}