<div class="about">
    <div class="text">
        <h3>Title</h3>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam distinctio sunt aut adipisci labore unde expedita nobis. Repellendus dignissimos similique aut a officia quos nostrum expedita non sint voluptatibus, cum vitae recusandae nesciunt natus
        odit, quidem dicta obcaecati soluta quam?
    </div>
    <div class="image">
        <img src="../../assets/images/place/aboutM.jpg" alt="">
    </div>
</div>

<div class="about">
    <div class="image">
        <img src="../../assets/images/place/srv.jpg" alt="">
    </div>
    <div class="text">
        <h3>Title</h3>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam distinctio sunt aut adipisci labore unde expedita nobis. Repellendus dignissimos similique aut a officia quos nostrum expedita non sint voluptatibus, cum vitae recusandae nesciunt natus
        odit, quidem dicta obcaecati soluta quam?
    </div>
</div>