<div class="row">
    <div class="column" *ngFor="let mess of prods">
        <div class="card">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <input type="hidden" value="{{mess.id}}">
                <p> <strong>Name:</strong> <input type="text" placeholder="{{mess.name}}" ngModel name="name" #name="ngModel"></p>
                <p> <strong>ImagePath: </strong> <input type="text" value="{{mess.imagePath}}"></p>
                <p> <strong>ImagePathsm: </strong> <input type="text" value="{{mess.imagePathSm}}"></p>
                <p> <strong>Type: </strong> <input type="text" value="{{mess.type}}"></p>
                <p> <strong>Price: </strong> <input type="text" value="{{mess.price}}"></p>
                <p> <strong>Qty: </strong> <input type="text" value="{{mess.qty}}"></p>
                <p> <strong>Description: </strong> <textarea rows="5">{{mess.description}}</textarea> </p>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</div>