<table align="center">
    <tr>
        <th>username</th>
        <th>email</th>
        <th>address</th>
        <th>phone</th>
        <th>id</th>
        <th>name</th>
        <th>type</th>
        <th>price</th>
        <th>qty</th>
        <th>paymentType</th>
    </tr>
    <tr *ngFor="let o of orders">
        <td>{{o.username}}</td>
        <td>{{o.email}}</td>
        <td>{{o.address}}</td>
        <td>{{o.phone}}</td>
        <td>{{o.id}}</td>
        <td>{{o.name}}</td>
        <td>{{o.type}}</td>
        <td>{{o.price}}</td>
        <td>{{o.qty}}</td>
        <td>{{o.paymentType}}</td>
    </tr>
</table>