<div class="login-page">
    <div class="form">
        <form class="login-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <input type="text" placeholder="username" name="name" ngModel required #name="ngModel" />
            <input type="password" placeholder="password" name="password" ngModel required #password="ngModel" />
            <button type="submit">login</button>
        </form>
    </div>
</div>