<div class="row">
    <div class="column" *ngFor="let mess of messages">
        <div class="card">
            <h3> <strong>Name:</strong> {{mess.name}}</h3>
            <p> <strong>Email:</strong> {{mess.email}}</p>
            <p> <strong>Messsage: </strong> {{mess.message}}</p>
        </div>
    </div>
</div>