h1 {
    font-size: 72px;
    margin-top: 100px;
}

#showcase {
    background-image: url('../../assets/images/place/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 527px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #fdd807;
}

#showcase p {
    font-size: 20px;
    color: #ffffff;
}

#showcase .button:hover {
    background: pink;
    color: #fff;
}

#section-a {
    padding: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}